*.log
target/
.idea/
*.iml
*.DS_Store
/_bsp/
/output/
/docker/*.zip
# When executing tests in alphabetical order, Maven generates temporary
# files with names like this:
#
#  .surefire-0320969CE4BEF3CC28F07EE3E21C2DCF89CB569C
#
# These files appear alongside pom.xml files.  The files are just lists
# of test names and don't contain any important information.
/janusgraph-*/.surefire-*
# Eclipse junk; leading slash makes patterns non-recursive
# Note that * also can't match slashes
/.settings/
/.project
/.classpath
/.metadata
/.recommenders
/RemoteSystemsTempFiles
/janusgraph-*/.classpath
/janusgraph-*/.project
/janusgraph-*/.settings/
/janusgraph-*/janusgraph-*/.classpath
/janusgraph-*/janusgraph-*/.project
/janusgraph-*/janusgraph-*/.settings/
/janusgraph-examples/example-*/.classpath
/janusgraph-examples/example-*/.project
/janusgraph-examples/example-*/.settings
# End of Eclipse junk
# HBase testing stuff
janusgraph-hbase/logs
janusgraph-hbase/src/test/janusgraph-hbase-test-data/*
janusgraph-hbase/src/test/janusgraph-zookeeper-test/*
# Backup files created by `mvn versions:update-child-modules`
# http://mojo.codehaus.org/versions-maven-plugin/update-child-modules-mojo.html
janusgraph-*/pom.xml.versionsBackup
# JUnitBenchmarks output
/janusgraph-*/jub.*.xml
# .deb/.rpm packaging folders
/debian/
/redhat/
/pkgcommon/

# Emacs file backups
*~
# Nano file backups
*.save
# Vim file backups
*.swp

# Coverity tools and analysis outputs
coverity_tool.tar.gz
cov-analysis-linux64/
cov-int.tar.gz
cov-int/

/site/