*.log
target/
.idea/
*.iml
# Eclipse junk; leading slash makes patterns non-recursive
/.settings/
/.project
/.classpath
titan-hbase/logs
titan-hbase/src/test/titan-hbase-test-data/*
titan-hbase/src/test/titan-zookeeper-test/*
