language: java
sudo: false

jdk:
  - oraclejdk8

cache:
  directories:
    - ${HOME}/.m2

env:
  global:
    # This is the encrypted COVERITY_SCAN_TOKEN, created via the
    # `travis encrypt` command using the project repo's public key.
    - secure: "v5ixqTeb74y0vRuPcDbe3C28GDDYvqyEXA2dt+9UVU6GG7WpnmpkBf05gI1dIhp51lBhwx9WSlFBtzho+KdCBmNY/CzBRhVHe/lCQYK9Hb6uGPvuwBvC0WjJgJXsVrLFjppeRhcf+OAweVQ3uw2RPMDRvKIVMUcO1BTFjjJl6REJXNUdzGS57MtH2mmRyOEz250EwgqUELZvcOytG7fNrjMJKVK2nSsoxi0BqZIpItTWPWWeQ1wi1FplJ18A2qtD+MPfAGNSB+/a+r0Av+VCT2eGl06ZyZAzP3q/vG5IYjQ3AJsSPqcZUt4ms+2us1+kwuzXIILjzZmcfImu29+y/thndU5E5b2v+nZ4H69CUCc5OmKW2RwozLNmBIUhO0n+35va/J7FiPIqm3pwxCz5vWA3YTHDADxnIYe7+9uY/+dOK/AvP5fyu7u07vuF3liKNBdrX7ylP3kYc7FXGmYl8wCZv31iy1yTtndQ9qKef7bo8lM9Cdh39KyowrygH+Um7pr9gqf2S9jn99nQ3bib32fBWgBkLpJRwhZYHPUupZjZfgu/9woby0DuriuHZKMqZd7QUawYz6wXGlhzu78x5Tohlj1pGBwHYdcJ/Tm3PiEpyH4aYQLffkjGHJAcCW5tO8QbB0qrLYWC8xVMWuFz1TpSBRXOqVYdBfIa2UZDtOU="

  matrix:
    - MODULE='berkeleyje'
    - MODULE='cassandra'
    - MODULE='es' ARGS='-DthreadCount=1'
    - MODULE='hadoop-parent/janusgraph-hadoop-2'
    - MODULE='hbase-parent/janusgraph-hbase-098'
    - MODULE='hbase-parent/janusgraph-hbase-10'
    - MODULE='lucene' ARGS='-DthreadCount=1'
    - MODULE='solr' ARGS='-DthreadCount=1'
    - MODULE='test'

matrix:
  # https://docs.travis-ci.com/user/customizing-the-build#Rows-that-are-Allowed-to-Fail
  allow_failures:
    # Non-deterministic: can pass or fail, regardless of any relevant changes.
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/198165185
    - env: MODULE='berkeleyje'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197472452
    - env: MODULE='cassandra'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197472453
    - env: MODULE='es' ARGS='-DthreadCount=1'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672947
    - env: MODULE='hadoop-parent/janusgraph-hadoop-2'

    # Currently broken due to timeout (runs longer than 50min)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672951
    - env: MODULE='hbase-parent/janusgraph-hbase-098'

    # Currently broken due to timeout (runs longer than 50min)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672952
    - env: MODULE='hbase-parent/janusgraph-hbase-10'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197427609
    - env: MODULE='solr' ARGS='-DthreadCount=1'

addons:
  apt:
    packages:
      - oracle-java8-installer
  coverity_scan:
    # Coverity config parameters described in detail:
    # https://scan.coverity.com/travis_ci
    project:
      name: "JanusGraph/janusgraph"
      version: "0.1.0-SNAPSHOT"
      description: "Scalable, distributed graph database"
    notification_email: janusgraph-ci@googlegroups.com
    # For more info on `travis_wait`, see the docs:
    # https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received
    build_command: "travis_wait mvn clean package -B -DskipTests=true"
    branch_pattern: coverity_scan

script:
  - if [[ "${COVERITY_SCAN_BRANCH}}" == 1 ]]; then
      echo "Skipping build/test on 'coverity_scan' branch.";
      exit 0;
    fi
  - mvn install -DskipTests=true -B -pl janusgraph-${MODULE} -am
  - mvn verify -pl janusgraph-${MODULE} ${ARGS}

# Syntax and more info: https://docs.travis-ci.com/user/notifications
notifications:
  email:
    - janusgraph-ci@googlegroups.com
