@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	#wrapper{
		width:auto !important;
	}
	#main{
		padding-bottom:50px;
	}
	.columns .col{
		float:none;
		width:100% !important;
		padding:0 0 20px;
	}
	.avada-container .columns {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.avada-container .columns .col {float:left;}
	.avada-container .col img{		
		display:block;
		margin:0 auto;
	}
	.review {
		float:none;
		width:100%;
	}
	.footer-area .columns .col{
		float:left;
		width:98% !important;
		padding:0 2% 20px 0;
	}
	.social-networks,
	.copyright{
		float:none;
		padding:0 0 15px;
		text-align:center;
	}
	.copyright:after,
	.social-networks:after{
		content:"";
		display:block;
		clear:both;
	}
	.social-networks li,
	.copyright li{
		float:none;
		display:inline-block;
	}
	.continue {display:none;}
	.mobile-button{
		display:block !important;
		float:none;
	}
	.page-title{
		width:auto;
		padding-top:18px;
		padding-left:10px; padding-right:10px;
	}
	.page-title-wrapper{
		width:auto;
	}
	.page-title h1{
		float:none;
	}
	.page-title ul{
		float:none;
		text-align:left;
		padding-top:0 !important;
		line-height:11px !important;
	}
	#header{
		padding:20px;
	}
	#header-sticky .logo,#header .logo{
		float:none;
		text-align:center;
		margin:0 !important;
		margin-bottom:20px !important;
	}
	#header-sticky .nav-holder,#header .nav-holder{
		float:none;
	}
	.nav-holder ul,.top-menu .menu{display:none;}
	.nav-holder .dd-container,.top-menu .dd-container{display:block !important;width:100%;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth{
		width:100%;
		margin-bottom:20px;
	}
	.one_half > div, .one_third > div, .two_third > div, .three_fourth > div, .one_fourth > div{
		margin-bottom:0;
	}

	.title{
		margin-top:0px !important;
		margin-bottom:20px !important;
	}

	#content{
		width:100% !important;
		float:none !important;
		margin-bottom:50px;
	}

	#sidebar{
		width:100% !important;
		float:none !important;
	}

	#sidebar .social_links .social li{
		width:auto;
		margin-right:5px;
	}

	#comment-input{
		margin-bottom:0;
	}
	#comment-input input{
		width:90%;
		float:none;
		margin-bottom:10px;
	}
	#comment-textarea textarea{
		width:90%;
	}

	.pagination{
		margin-top:40px;
	}

	.portfolio-one .portfolio-item .image{
		float:none;
		width:auto;
		height:auto;
		margin-bottom:20px;
	}

	h5.toggle span.toggle-title{
		width:80%;
	}

	.full-boxed-pricing{
		width:97%;
	}
	.full-boxed-pricing .column{
		width:100%;
		border:1px solid #E5E4E3 !important;
		margin-bottom:10px;
	}
	.full-boxed-pricing ul{
		width:100%;
	}

	.sep-boxed-pricing .column{
		width:97%;
	}
	.sep-boxed-pricing ul{
		width:100%;
	}
	.sep-boxed-pricing ul li{
		width:100%;
	}

	.page-title h1{
		margin-bottom:5px;
	}
	.page-title h1,.page-title ul{
		float:none;
		line-height:normal;
	}

	.share-box{
		height:auto;
	}
	#wrapper .share-box h4{
		float:none;
		line-height:20px !important;
		padding-top:25px;
		padding-bottom:25px;
	}
	.share-box ul{
		float:none;
		overflow:hidden;
		padding:0 25px;
		padding-bottom:25px;
		margin-top:0px;
	}

	.project-content .project-description{
		margin-bottom:50px;
	}
	.project-content .project-description,.project-content .project-info{
		width:100%;
	}

	.portfolio-half .flexslider{
		width:100%;
	}
	.portfolio-half .project-content{
		width:100%;
	}

	#style_selector{
		display:none;
	}

	.portfolio-tabs{
		height:auto;
		border-bottom:0;
	}

	.portfolio-tabs li{
		float:none;
		margin-right:0;
		border-bottom:1px solid #E7E6E6;
	}
	.post-content .rev_slider_wrapper{margin-left:-5px !important;}
	.rev_slider_wrapper .tparrows,.rev_slider_wrapper:hover .tparrows{display:none !important;}
	.ls-avada .ls-nav-prev,.ls-avada .ls-nav-next{display:none !important;}

	nav#nav,nav#sticky-nav{margin-right:0;}

	#footer .social-networks{width:100%;margin:0 auto;position:relative;left:-11px;}

	.rev_slider .button,.ls-layer .button{
		padding-left:20px; padding-right:20px;
		height:30px;
		line-height:30px;
	}

	.shortcode-tabs .tab-holder .tabs,.tab-holder .tabs{
		height:auto !important;
	}
	.shortcode-tabs .tab-hold .tabs li{
		width:100% !important;
	}

	#wrapper .page-title-container{height:auto !important;max-height:87px;padding-bottom:20px;}

	.error_page .useful_links{width:100%;padding-left:0;}

	#gmap{width:100% !important;margin-bottom:20px !important;}

	.social_links_shortcode .social li{width:10% !important;}

	.header-social{padding-top:10px;}

	.header-v2 .header-social .alignleft,.header-v3 .header-social .alignleft{margin-left:20px !important;}
	.header-v2 .header-social .alignright,.header-v3 .header-social .alignright{margin-right:20px !important;}

	.header-v4 .header-social .alignleft{width:100%; margin:0; text-align:center;}
	.header-v4 .header-social .alignright{width:100%; margin:0; text-align:center;}
	.header-v4 .header-social .social-networks{width:100%; margin-top:0; padding-bottom:0; height:26px;}
	.header-v4 .header-social .social-networks li{float:none; margin-left:10px; margin-right:10px;}
	.header-v4 .header-social .social-networks li a{margin-bottom:0;}
	.header-v4 .header-social{padding-bottom:0;}
	.header-v4 #header{padding-left:20px; padding-right:20px;}
	.header-v4 #header .logo{float:left;}
	.header-v4 #small-nav{padding:6px 20px;}
	.header-v4 #small-nav .navigation{width:100%;}

	.header-v5 .header-social .alignleft{width:100%; margin:0; text-align:center;}
	.header-v5 .header-social .alignright{width:100%; margin:0; text-align:center;}
	.header-v5 .header-social .social-networks{width:100%; padding-bottom:0; height:26px;}
	.header-v5 .header-social .social-networks li{float:none; margin-left:10px; margin-right:10px;}
	.header-v5 .header-social .social-networks li a{margin-bottom:0;}
	.header-v5 .header-social{padding-bottom:0;}
	.header-v5 #small-nav{padding:6px 20px;}
	.header-v5 #small-nav .navigation{width:100%;}

	#wrapper .ei-slider{width:100% !important;}

	.tfs-slider .slides{width:auto !important;}
	#wrapper .ei-slider{height:200px !important;}

	.progress-bar{margin-bottom:10px !important;}

	.large-alternate .post-content{width:100%;margin-top:10px;}

	.medium-alternate .date-and-formats{float:none;margin-bottom:20px;}
	.medium-alternate .flexslider{float:none !important;}
	.medium-alternate .post-content{float:none;width:100%;margin-top:20px;}

	.content-boxes-icon-boxed .col{height:auto !important;padding-bottom:20px;}
	.content-boxes-icon-on-top .col,.content-boxes-icon-boxed .col{margin-bottom:55px;}

	.counter-circle-wrapper{margin-bottom:20px;}
	.counters-circle .counter-circle-wrapper:last-child{margin-bottom:0;}
	.counters-box .counter-box-wrapper{margin-bottom:20px;width:95.3%;}
	.counters-box .counter-box-wrapper:last-child{margin-bottom:0;}

	.tagline-shadow{display:none;}

	.popup{display:none !important;}

	.share-box .social-networks{text-align:left;}
}