.composer-switch{float:left;margin:0;margin-right:10px;margin-bottom:10px;}
.vc-converter{float:left;margin-right:10px;margin-bottom:10px;}
.vc-converter span{color:red;line-height:24px;}
#postdivrich{clear:both;}