<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2 http://maven.apache.org/xsd/assembly-1.1.2.xsd">
  
    <id>server-${project.version}</id>
    <baseDirectory>titan-server-${project.version}</baseDirectory>

    <formats>
        <format>zip</format>
        <format>tar.bz2</format>
    </formats>

    <fileSets>
        <fileSet>
            <directory>../src/assembly/static</directory>
            <outputDirectory>/</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>../src/assembly/static/conf</directory>
            <outputDirectory>/conf</outputDirectory>
            <includes>
                <include>titan*</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>../src/assembly/resources/conf</directory>
            <outputDirectory>/conf</outputDirectory>
            <filtered>true</filtered>
            <includes>
                <include>rexster*xml</include>
            </includes>
        </fileSet>
    </fileSets>

    <files>
        <file>
            <source>../../CHANGELOG.textile</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>../../LICENSE.txt</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>../../NOTICE.txt</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>../../UPGRADE.textile</source>
            <outputDirectory>/</outputDirectory>
        </file>
    </files>

    <dependencySets>
        <!-- Entire jar dependency graph -->
        <dependencySet>
            <outputDirectory>/lib</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <excludes>
                <exclude>${project.groupId}:titan-site:zip:htdocs:${project.version}</exclude>
            </excludes>
        </dependencySet>

        <!-- HTML copy of Wikidoc and Javadoc -->
        <dependencySet>
            <unpack>true</unpack>
            <outputDirectory>/doc</outputDirectory>
            <useProjectArtifact>false</useProjectArtifact>
            <includes>
                <include>${project.groupId}:titan-site:zip:htdocs:${project.version}</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>
