# Copyright 2020 JanusGraph Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Backend Hbase

on:
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - 'requirements.txt'
    - 'docs.Dockerfile'
    - '*.md'
  push:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - 'requirements.txt'
    - 'docs.Dockerfile'
    - '*.md'

env:
  BUILD_MAVEN_OPTS: "-DskipTests=true --batch-mode --also-make"
  VERIFY_MAVEN_OPTS: "-Pcoverage"

jobs:
  build-all:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn clean install --projects janusgraph-all -Pjanusgraph-cache -Dmaven.javadoc.skip=true ${{ env.BUILD_MAVEN_OPTS }}
      - run: mvn verify --projects janusgraph-all -Pjanusgraph-cache ${{ env.VERIFY_MAVEN_OPTS }}

  tests:
    runs-on: ubuntu-20.04
    needs: build-all
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: hbase
            args: "-Dtest=\"**/diskstorage/hbase/*\""
            name: hbase1-diskstorage
          - module: hbase
            args: "-Dtest=\"**/graphdb/hbase/*\""
            name: hbase1-graphdb
          - module: hbase
            args: "-Dtest=\"**/hadoop/*\""
            name: hbase1-hadoop
          - module: hbase
            install-args: "-Dhbase.profile -Phbase2"
            args: "-Dtest=\"**/diskstorage/hbase/*\""
            name: hbase2-diskstorage
          - module: hbase
            install-args: "-Dhbase.profile -Phbase2"
            args: "-Dtest=\"**/graphdb/hbase/*\""
            name: hbase2-graphdb
          - module: hbase
            install-args: "-Dhbase.profile -Phbase2"
            args: "-Dtest=\"**/hadoop/*\""
            name: hbase2-hadoop
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn clean install --projects janusgraph-${{ matrix.module }} ${{ env.BUILD_MAVEN_OPTS }} ${{ matrix.install-args }}
      - run: mvn verify --projects janusgraph-${{ matrix.module }} ${{ env.VERIFY_MAVEN_OPTS }} ${{ matrix.args }} -Dhbase.docker.uid=$(id -u) -Dhbase.docker.gid=$(id -g)
      - uses: actions/upload-artifact@v2
        with:
          name: jacoco-reports
          path: target/jacoco-combined.exec
      - uses: codecov/codecov-action@v1
        with:
          name: codecov-hbase-${{ matrix.name }}
