# Copyright 2020 JanusGraph Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Core

on:
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - 'requirements.txt'
    - 'mkdocs.yml'
    - 'docs.Dockerfile'
    - '*.md'
  push:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - 'requirements.txt'
    - 'mkdocs.yml'
    - 'docs.Dockerfile'
    - '*.md'
    branches-ignore:
      - 'dependabot/**'

env:
  BUILD_MAVEN_OPTS: "-DskipTests=true --batch-mode --also-make"
  VERIFY_MAVEN_OPTS: "-Pcoverage"

jobs:
  build-all:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: zulu
      - run: mvn clean install --projects janusgraph-all -Pjanusgraph-cache -Dmaven.javadoc.skip=true ${{ env.BUILD_MAVEN_OPTS }}
      - run: mvn verify --projects janusgraph-all -Pjanusgraph-cache ${{ env.VERIFY_MAVEN_OPTS }}

  build-java11:
    needs: build-all
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: zulu
      - run: mvn clean install --projects janusgraph-all -Pjava-11 -Pjanusgraph-cache -Dmaven.javadoc.skip=true ${{ env.BUILD_MAVEN_OPTS }}
      - run: mvn verify --projects janusgraph-all -Pjava-11 -Pjanusgraph-cache ${{ env.VERIFY_MAVEN_OPTS }}

  tests:
    runs-on: ubuntu-22.04
    needs: build-all
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: core
            java: 8
          - module: driver
            java: 8
          - module: server
            java: 8
          - module: test
            java: 8
          - module: inmemory
            args: "-Dtest.skip.tp=false"
            java: 8
          - module: berkeleyje
            java: 8
          - module: lucene
            java: 8
          - module: core
            install-args: "-Pjava-11"
            java: 11
          - module: driver
            install-args: "-Pjava-11"
            java: 11
          - module: server
            install-args: "-Pjava-11"
            java: 11
          - module: test
            install-args: "-Pjava-11"
            java: 11
          - module: inmemory
            install-args: "-Pjava-11"
            args: "-Dtest.skip.tp=false"
            java: 11
          - module: berkeleyje
            install-args: "-Pjava-11"
            java: 11
          - module: lucene
            install-args: "-Pjava-11"
            java: 11
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
      - run: mvn clean install --projects janusgraph-${{ matrix.module }} ${{ env.BUILD_MAVEN_OPTS }} ${{ matrix.install-args }}
      - run: mvn verify --projects janusgraph-${{ matrix.module }} ${{ env.VERIFY_MAVEN_OPTS }} ${{ matrix.install-args }} ${{ matrix.args }}
      - uses: actions/upload-artifact@v4
        with:
          name: jacoco-reports-${{ matrix.module }}-java-${{ matrix.java }}
          path: target/jacoco-combined.exec
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          name: codecov-core-${{ matrix.module }}-java-${{ matrix.java }}
