# Copyright 2020 JanusGraph Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Release

on:
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - 'requirements.txt'
    - 'docs.Dockerfile'
    - '*.md'
  push:
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/ci-docs.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - 'requirements.txt'
    - 'docs.Dockerfile'
    - '*.md'
  schedule:
    - cron:  '0 0 * * 3'

env:
  ES_JAVA_OPTS: "-Xms256m -Xmx512m"
  BUILD_MAVEN_OPTS: "-DskipTests=true --batch-mode --also-make"
  VERIFY_MAVEN_OPTS: "-Pcoverage"

jobs:
  build-all:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn clean install --projects janusgraph-all -Pjanusgraph-cache -Dmaven.javadoc.skip=true ${{ env.BUILD_MAVEN_OPTS }}
      - run: mvn verify --projects janusgraph-all -Pjanusgraph-cache ${{ env.VERIFY_MAVEN_OPTS }}

  dist-tests:
    runs-on: ubuntu-20.04
    needs: build-all
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: sudo apt-get update && sudo apt-get install -y expect
      - run: mvn clean install -Pjanusgraph-release ${{ env.BUILD_MAVEN_OPTS }} -Dgpg.skip=true
      - run: mvn verify -pl janusgraph-dist -Pjanusgraph-release -Dgpg.skip=true
      - uses: actions/upload-artifact@v2
        with:
          name: distribution-builds
          path: janusgraph-dist/target/janusgraph-*.zip

  tp-tests:
    runs-on: ubuntu-20.04
    if: "github.event_name == 'push' && contains(github.event.head_commit.message, '[tp-tests]') || github.event_name == 'pull_request' && contains(github.event.pull_request.title, '[tp-tests]') || github.event_name == 'schedule'"
    needs: build-all
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: inmemory
            args: "-Dtest.skip.tp=false -DskipTests=true"
          - module: berkeleyje
            args: "-Dtest.skip.tp=false -DskipTests=true"
          - module: cql
            args: "-Pcassandra3-byteordered -Dtest.skip.tp=false -DskipTests=true"
          - module: cql
            args: "-Pcassandra3-murmur -Dtest.skip.tp=false -DskipTests=true"
          - module: hbase
            args: "-Dtest.skip.tp=false -DskipTests=true"
          - module: hbase
            install-args: "-Dhbase.profile -Phbase2"
            args: "-Dtest.skip.tp=false -DskipTests=true"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn clean install --projects janusgraph-${{ matrix.module }} ${{ env.BUILD_MAVEN_OPTS }} ${{ matrix.install-args }}
      - run: mvn verify --projects janusgraph-${{ matrix.module }} ${{ matrix.args }}
